# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
# we highly recommended against removing the private folder from the gitignore file
# the directory is used to store sensitive information such as contacts
/private
.vscode/settings.json
.DS_Store
*.bak
# Emacs (from https://github.com/github/gitignore/blob/main/Global/Emacs.gitignore)
*~
\#*\#
.\#*
# Vim (from https://github.com/github/gitignore/blob/main/Global/Vim.gitignore)
[._]*.swp
.bak
core/system_paths-RoskarDeck.talon-list
core/keys/letter.bak
core/vocabulary/vocabulary.bak
core/websites_and_search_engines/search_engine.bak
core/websites_and_search_engines/website.bak
tags/terminal/unix_utility.bak
