# Dev stuff
__pycache__
*.sw?
.idea/
# Locally generated
/settings
.vscode/settings.json
.DS_Store
.bak
core/system_paths-RoskarDeck.talon-list
core/keys/letter.bak
core/vocabulary/vocabulary.bak
core/websites_and_search_engines/search_engine.bak
core/websites_and_search_engines/website.bak
tags/terminal/unix_utility.bak
